In [1]:
# Import libraries
import pandas as pd
from src.cleaning import cleaning
from src.tokenisation import tokenisation
from src.remove_stopwords import remove_stopwords
from src.lemmatisation import lemmatize_dataframe
from sklearn.feature_extraction.text import TfidfVectorizer

[nltk_data] Downloading package averaged_perceptron_tagger_eng to
[nltk_data]     C:\Users\krisf\AppData\Roaming\nltk_data...
[nltk_data]   Package averaged_perceptron_tagger_eng is already up-to-
[nltk_data]       date!

In [2]:
df = pd.read_csv('./data/dataset.csv')

In [3]:
df.head()

,app_id,app_name,review_text,review_score,review_votes
0,10,Counter-Strike,Ruined my life.,1,0
1,10,Counter-Strike,This will be more of a ''my experience with th...,1,1
2,10,Counter-Strike,This game saved my virginity.,1,0
3,10,Counter-Strike,• Do you like original games? • Do you like ga...,1,0
4,10,Counter-Strike,"Easy to learn, hard to master.",1,1

In [4]:
df_cleaned = cleaning(df, "review_text")
df_cleaned.head()

df_5_rows = df_cleaned.head(5)

In [5]:
df_tokenised = tokenisation(df_5_rows, "review_text")
df_tokenised['review_text'].head()

0                                       ruined,my,life
1    this,will,be,more,of,a,my,experience,with,this...
2                         this,game,saved,my,virginity
3    do,you,like,original,games,do,you,like,games,t...
4                         easy,to,learn,hard,to,master
Name: review_text, dtype: object

In [6]:
df_without_stopwords = remove_stopwords(df_tokenised, "review_text")
df_without_stopwords['review_text'].head()

0                                          ruined,life
1    experience,game,type,review,saying,things,like...
2                                 game,saved,virginity
3    like,original,games,like,games,dont,lag,like,g...
4                               easy,learn,hard,master
Name: review_text, dtype: object

In [7]:
df_lemmatised = lemmatize_dataframe(df_without_stopwords, "review_text")
df_lemmatised['review_text'].head()

0                                           ruin, life
1    experience, game, type, review, say, thing, li...
2                                game, save, virginity
3    like, original, game, like, game, dont, lag, l...
4                            easy, learn, hard, master
Name: review_text, dtype: object

In [13]:
tfidf = TfidfVectorizer(max_features=5000)

X_tfidf = tfidf.fit_transform(df_lemmatised['review_text'])

print(X_tfidf)

  (0, 109)	0.7071067811865475
  (0, 70)	0.7071067811865475
  (1, 42)	0.17383250166336944
  (1, 48)	0.4365661961399187
  (1, 139)	0.04345812541584236
  (1, 107)	0.04345812541584236
  (1, 113)	0.04345812541584236
  (1, 131)	0.04345812541584236
  (1, 71)	0.17530870975446441
  (1, 53)	0.08691625083168472
  (1, 50)	0.13037437624752707
  (1, 127)	0.04345812541584236
  (1, 122)	0.04345812541584236
  (1, 65)	0.13037437624752707
  (1, 22)	0.26074875249505414
  (1, 52)	0.17383250166336944
  (1, 106)	0.04345812541584236
  (1, 9)	0.13037437624752707
  (1, 46)	0.17383250166336944
  (1, 61)	0.08691625083168472
  (1, 100)	0.3476650033267389
  (1, 31)	0.08691625083168472
  (1, 67)	0.17383250166336944
  (1, 90)	0.04345812541584236
  (1, 63)	0.04345812541584236
  :	:
  (1, 76)	0.04345812541584236
  (1, 94)	0.04345812541584236
  (1, 86)	0.04345812541584236
  (1, 55)	0.035061741950892886
  (1, 133)	0.04345812541584236
  (2, 48)	0.46220770413113277
  (2, 111)	0.5568161504458247
  (2, 141)	0.6901592662889633
  (3, 48)	0.47661423618259774
  (3, 71)	0.5741715290915584
  (3, 95)	0.1779177026944
  (3, 35)	0.3558354053888
  (3, 68)	0.1779177026944
  (3, 110)	0.1779177026944
  (3, 77)	0.1779177026944
  (3, 38)	0.1779177026944
  (3, 97)	0.1779177026944
  (3, 82)	0.1779177026944
  (3, 15)	0.1779177026944
  (3, 121)	0.1779177026944
  (3, 88)	0.1779177026944
  (4, 55)	0.4222421409859579
  (4, 37)	0.5233582502695435
  (4, 69)	0.5233582502695435
  (4, 81)	0.5233582502695435

'life'